.App {
  text-align: center;
  background-color: #C9E6F7;
  min-height: 100vh;
  height: auto;
  padding-bottom: 5%;
}
.navbar-main {
  background-color: #FFF;
  min-height: 150px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-titles{
   list-style-type: none;
   font-size: 20px;
   font-weight: 700;
   color: #5D8EE5;
}
.navbar-titles-value{
  list-style-type: none;
  font-size: 16px;
  font-weight: 200;
}
.navbar-grid{
  border: 1px solid #bababa;
  border-radius: 6px;
  padding: 15px 15px 15px 20px;
  text-align: left;
}


.coin-row {
  background-color: #FFF;
  border-bottom: 1px solid lightgrey;
}
.coin-row:hover {
  background-color: #E4E4E4;
}
.coin-row-coins {
  margin: 10px;
  text-align: center;
}
.coin-row-coins-marketCap{
  text-align: center;
  margin: 10px 10px 0 10px;
}
.coin-row-coins-24H{
  text-align: center;
  margin: 10px 10px 0 10px;
}
.coin-row-header{
  background-color: #F9F9F9;
  height: 50px;
  padding: 0 10px 0 10px; 
  border-radius: 0px 0px 0 0;
  margin-top: 50px;
}
.coin-row-header-title{
  text-align: center;
  margin: 14px 10px 0 10px;
  font-size: 16px;
  font-weight: 300; 
}
.marketCap{
  text-align: center;
}
.search-bar-form{
  width: 50%;
  padding: 10px 0px 10px 0px;
  background-color: none;
  
}
.search-bar{
  background-color: #5D8EE5;
  min-height: 70px;
  border-radius: 12px 12px 0 0;
  margin: 50px 0 0px 0;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-bar-input{
  height: 40px;
  background-color: none;
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  border: 0px solid none;
}
.dropdown{
  width: 25%;
  padding: 10px;
}
.dropdown-menu {
    width: 100% !important;
    height: auto !important;
}
.dropdown-button{
  width: 100%;
}
